/* main.css
 *
 * Copyright 2022 foreverxml <foreverxml@tuta.io>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to
 * deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 * SPDX-License-Identifier: MIT
 */


:root {
  --body-bg: #3d3846;
  --main-bg: #241f31;
  --top-bg: #5e5c64;
  --color: #fff;
  --colorhover: #c0bfbc;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Inter, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--body-bg);
  color: var(--color);
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
img.noteimg {
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 1em;
}
img.noteimg.reply {
	width: 45%;
}
div#main {
  background-color: var(--main-bg);
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #000;
  height: calc(100vh - 20px);
  transition: margin 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
  overflow-y: auto;
}
/*
div#main::-webkit-scrollbar {
  background: none;
  width: 5px;
  background-clip: border-box;
}
#main::-webkit-scrollbar-thumb {
  background-clip: border-box;
  background: rgba(128,128,128,0.15);
  border-radius: 2.5px;
}
*/
#main::-webkit-scrollbar {
  display: none;
}
a, a:visited:hover {
  color: #aaccff;
}
span.handle {
  color: #9a9996;
  display: inline-block;
  filter: saturate(0);
  z-index: 0;
}
img.pfp, img.pfp.cat {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin-right: 5px;
  object-fit: cover;
}
img.pfp.inline, img.pfp.cat.inline {
  height: 1.75em;
  width: 1.75em;
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
  transition: transform 0.5s ease;
}
img.emoji {
  height: 1.75em;
  width: auto;
  vertical-align: middle;
  transition: transform 0.5s ease;
}
.inline:hover, .emoji:hover {
  transform: scale(1.3);
}
.rn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
}
div#buttonsnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3em;
  margin: -10px;
  padding: 1em;
  border-radius: 25px 25px 15px 15px;
  background-color: var(--body-bg);
  margin-bottom: 10px;
  position: sticky;
  top: -10px;
  box-shadow: 0px 10px 10px var(--main-bg);
  transition: margin 0.5s ease, border-radius 0.5s ease, top 0.5s ease;
  z-index: 2;
}
::selection {
  background-color: #9a9996;
  color: #fff;
  filter: saturation(0);
}
div#buttonsnav > a {
  margin-left: 10px;
}
div.profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
p.notecontent {
  size: 120%;
  white-space: pre-wrap;
}
a.svg {
  margin-right: 0.5em;
}
a.svg > svg {
  height: 1.5rem;
  width: 1.5rem;
}
.buttons {
  display: flex;
}
.buttons > a > svg {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 5px;
}
select {
  height: auto;
  padding: 0.5em;
  padding-bottom: 0.6;
  color: var(--color);
  background-color: var(--main-bg);
  border-radius: 10px;
  border: none;
  font-family: Inter, sans-serif;
  padding-right: 0;
  display: grid;
  appearance: none;
  -webkit-appearance: none;
  width: auto;
  font-size: 95%;
  outline: none;
  width: 5.1rem;
}
svg > path, svg > g {
  transition: fill 0.25s ease;
}
.buttons > a:hover > svg > path, .buttons > a:hover > svg > g, div#buttonsnav > a:hover > svg > path, div#buttonsnav > a:hover > svg > g {
  fill: var(--colorhover)
}
.buttons > a {
  text-decoration: none;
}
div#tl {
  overflow: scroll;
}

.noteaction {
  margin-right: 2px;
  
}

.notecont {
  margin: 6px;
  padding: 6px;
  border: 1px solid rgba(128,128,128,0.5);
  border-radius: 10px;
  transition: margin 0.5s ease;
}
/*
.pfp.cat::after, .pfp.cat::before {
    background: #df548f;
    border: 4px solid #cccccc;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 50%;
    width: 50%;
    border-radius: 75% 0 75% 75%;
    transform: rotate(-37.5deg) skew(-30deg);
    position: absolute;
    z-index: 0;
}
*/
#tl {
  overflow: hidden;
  width: auto;
  overflow-wrap: break-word;
}
.dispname {
  text-overflow: fade(5%) !important;
}
#tl::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@media (max-width: 700px) {
  div#main {
  	margin: 0 !important;
    border-radius: 0;
    box-shadow: 0px 0px 0px #000;
    height: 100vh;
  }
  div#buttonsnav {
    border-radius: 0 0 15px 15px;
    margin: -10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 550px) {
  div.notecont {
    margin: 1px;
  }
}
